.project/tutorial/gtk-tutorial.aux
/tutorial/gtk-tutorial.cp
/tutorial/gtk-tutorial.fn
/tutorial/gtk-tutorial.fns
/tutorial/gtk-tutorial/*
/tutorial/gtk-tutorial.ky
/tutorial/gtk-tutorial.pg
/tutorial/gtk-tutorial.toc
/tutorial/gtk-tutorial.tp
/tutorial/gtk-tutorial.vr
/.project
/tutorial/gtk-tutorial.log
/tutorial/gtk-tutorial.aux
/glib/atdoc/pages/*
/glib/atdoc/index.html
/glib/atdoc/index.css
/glib/atdoc/header.gif
/glib/atdoc/.atdoc.xml
