/* You can edit the text in this window to change the
 * appearance of this Window. Be careful, if you screw
 * it up, nothing might be visible anymore.
 */

/* Make the paned handle more visible */
paned separator {
  background-color: alpha(lightgrey, 0.80);
  background-image: linear-gradient(transparent, 
                                    transparent 1px, 
                                    #999 1px, #999 4px, 
                                    transparent 4px);
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: center;
}

paned separator:hover {
  background-image: linear-gradient(transparent, 
                                    transparent 1px, 
                                    #555 1px, #555 4px, 
                                    transparent 4px);
}

/* Get a nice background for the toolbar */
toolbar {
  background-image: linear-gradient(to left,
                                    transparent,
                                    rgba(255,255,255,.07) 50%,
                                    transparent 50%),
                    linear-gradient(to left,
                                    transparent,
                                    rgba(255,255,255,.13) 50%,
                                    transparent 50%),
                    linear-gradient(to left,
                                    transparent,
                                    transparent 50%,
                                    rgba(255,255,255,.17) 50%),
                    linear-gradient(to left,
                                    transparent,
                                    transparent 50%,
                                    rgba(255,255,255,.19) 50%);
  background-color: orange;
  background-size: 29px, 59px, 73px, 109px;
}

button {
  color: black;
  padding: 10px;
  border-radius: 5px;
  transition: all 250ms ease-in;
  border: 1px transparent solid;
}

button:hover {
  text-shadow: 3px 3px 5px alpha(black, 0.75);
  -gtk-icon-shadow: 3px 3px 5px alpha(black, 0.75);
  box-shadow: 3px 3px 5px alpha(black, 0.5) inset;
  border: solid 1px alpha(black, 0.75);
}

button:active {
  padding: 11px 9px 9px 11px;
  text-shadow: 1px 1px 2.5px alpha(black, 0.6);
  -gtk-icon-shadow: 1px 1px 2.5px alpha(black, 0.6);
}
